.flashcard {
    height: 250px;
    width: 250px;
    transition: 0.3s;
    transform-style: preserve-3d;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashcard-box:hover .flashcard {
    transform: rotateY(180deg);
}  

.question {
    z-index: 5;
    color: black;
}

.answer {
    transform: rotateY(180deg);
    color: blue;
}

.question, .answer {
    text-align: center;
    font-weight: bold;
    position: absolute;
    backface-visibility: hidden;
    padding: 20px;
}